<!-- <app-sign-validations></app-sign-validations> -->
<!-- <app-wholesaler-side-product></app-wholesaler-side-product> -->
<!-- <app-signup></app-signup> -->
<!-- <app-editprofile></app-editprofile> -->
<!-- <app-login></app-login> -->
 <router-outlet></router-outlet>
 <!-- <app-editproduct></app-editproduct> -->
 <!-- <app-addproduc></app-addproduc> -->
 <!-- <app-product></app-product> -->
<!-- <app-usertable></app-usertable> -->
<!--<app-menubar></app-menubar>-->
<!--<app-login></app-login>-->


